---
layout: default
---
<header>
    <img src="{{ site.logo | relative_url }}" alt="{{ site.title }} Logo" style="max-height: 10vh;margin:0;">
</header>
{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>
  
  <h1>{{ page.title }}</h1>
  {%-if page.description-%}
  <h4 style="margin-top:1.8rem;">{{ page.description }}</h4>
  {%-endif-%}
  <hr>

  {{ content }}
</article>